.rasa-button {
  box-sizing: border-box;
  margin: 0 4px 4px 0;
  min-width: 0;
  appearance: none;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 5px 16px;
  background-color: var(--message-button-background-color, rgb(255, 255, 255));
  border: 1px solid var(--message-button-border-color, rgb(44, 93, 203));
  color: var(--message-button-color, rgb(44, 93, 203));
  align-self: center;
  cursor: pointer;
  letter-spacing: 0.6px;
  outline: 0;
  transition: background 0.2s, border-color 0.2s, color 0.2s;
  position: relative;
  font-family: var(--font-family);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &:hover {
    background: var(--message-button-hover-background-color, rgb(44, 93, 203));
    border-color: var(--message-button-hover-border-color, rgb(44, 93, 203));
    color: var(--message-button-hover-color, rgb(255, 255, 255));
  }

  &--selected {
    background-color: var(--message-selected-button-background-color);
    color: var(--message-selected-button-color);
    border: 1px solid var(--message-selected-button-border-color);
  }
}
