:host {
  display: flex;
  align-items: center;
  padding: var(--text-message-padding, 8px 16px);
  border-radius: var(--text-message-border-radius, 0);
  text-align: var(--text-message-align, left);
}

:host(.text-message--bot) {
  background-color: var(--message-robot-background-color);
  color: var(--message-robot-color);
  font-family: var(--message-robot-font-family);
  --font-family: var(--message-robot-font-family);
  --rasa-text-align: justify;
}

:host(.text-message--headline) {
  background-color: var(--message-headline-background-color);
  color: var(--message-headline-color);
}

:host(.text-message--user) {
  background-color: var(--message-user-background-color);
  color: var(--message-user-color);
}
  