:host {
  display: flex;
  padding: 8px 16px;
}

:host(.text-message--bot) {
  background-color: var(--message-robot-background-color);
  color: var(--message-robot-color);
  font-family: var(--message-robot-font-family);
  --font-family: var(--message-robot-font-family);
}

:host(.text-message--headline) {
  background-color: var(--message-headline-background-color);
  color: var(--message-headline-color);
}

:host(.text-message--user) {
  background-color: var(--message-user-background-color);
  color: var(--message-user-color);
}
  